<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <title>Surf and Paddle</title>
</head>

<body>


  <div class="banner">
    <div class="logo2">
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      </button>
      <h7>SURF & PADDLE CO. BLOG</h7>
    </div>
    <div class="aboutsearch">
      <h7 id="search"><b>ABOUT </b> </h7>
      <h7 id="search"><b>SEARCH</b></h7>
      <span class="glyphicon glyphicon-search" aria-hidden="true">      </span>
    </div>
    <h1 class="title">SURF & PADDLE CO.</h1>
    <h5 class="subtitle"> An Ironyard Academy Project Est. Fall 2013</h5>
    <div class="open image">
    </div>
    <div id="tint"></div><div class="stupid">
    </div>
    <div class="logo">
    </div>
  </div>


  <div class="main"><h1>A FANTASTIC ENGAGING HEADLINE GOES HERE</h1>

    <img class="lilprofile" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/084/384/3969b0a.jpg"><h8>Karthik Soora</h8> <h8 class="date"><u>On Monday Oct. 7th 9:22pm</u></h8>
    <br></br>
    <br></br>
    <p>huck ipsum. Chuck Nor­ris eats trans­former toys in vehi­cle mode and poos them out trans­formed into a robot.  After much debate, Pres­i­dent Tru­man decided to drop the atomic bomb on Hiroshima rather than the alter­na­tive of send­ing Chuck Nor­ris. It was more “humane”. If you want a list of Chuck Nor­ris’ ene­mies, just check the extinct species list.  Chuck Nor­ris’ evil twin brother, Richard Sim­mons, once approached Chuck with the hope of rec­on­cil­i­a­tion, but at the sight of Richard’s curly, well kept hair, Chuck Nor­ris became so enraged that he turned green with hate and ripped Richard Sim­mons arms and legs off. This action was the ori­gin of the Mar­vel Comic badass, <a href="www.google.com">The Incred­i­ble Hulk.</a> </p>

    <p class="useful">WOAH, THAT'S RADICAL!"</p>

    <p> Chuck Nor­ris isn’t lac­tose intol­er­ant. He just doesn’t put up with lactose’s sh*t.  When you open a can of whoop-ass, Chuck Nor­ris jumps out. <a href="www.google.com">Chuck Norris </a> isn’t lac­tose intol­er­ant. He just doesn’t put up with lactose’s sh*t.  Chuck Nor­ris is Luke Skywalker’s real father. Chuck Nor­ris’ iPod came with a real charger instead of just a USB cord Rudolph has a red nose because he got lippy and Chuck Nor­ris round­house kicked him across the face sev­eral times Chuck Nor­ris invented a lan­guage that incor­po­rates karate and round­house kicks. So next time Chuck Nor­ris is kick­ing your ass, don’t be offended or hurt, he may be just try­ing to tell you he likes your hat.  </p>

    <div class="btn-group" role="group" aria-label="...">
    </button><button type="button" class="btn btn-default">Read Comments</button>
    <button type="button" class="btn btn-default">Read Later</button> <button type="button" class="btn btn-default">Share this post</button>
  </div>
</div>


<div class="sidebar">
  <div class="sidebarfinal">
    <img class="sidebar2" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/084/384/3969b0a.jpg">
    <p class="Karthik">Karthik Soora</p>
    <p class="social media">Twitter</p>
    <p class="social media">Facbook</p>
    <p class="social media">Instagram</p>

    <div class="ugh"><img src="http://www.coolthings.com/wp-content/uploads/2010/06/transparentcanoe1.jpg">

      <p align="right"><u>About This Ad</u></p>
    </div>
  </div>


  <div class="sideswipe"><b><h1 id="sidebar_heading"> SIDEBAR SECTION HEADING </h1></b><p>Chuck Nor­ris owns the great­est poker face of all-time. It helped him win the 1983 world series of poker despite him hold­ing just a joker, a 2 of clubs, a 7 of spades, and a green num­ber 4 from Uno and a monop­oly ‘get out of jail free’ card.  Chuck Nor­ris ordered a Big Mac at Burger King, and got one. Chuck Nor­ris does not hunt because the word hunt­ing infers the prob­a­bil­ity of fail­ure. Chuck Nor­ris goes killing. When Chuck Nor­ris was denied a Bacon McMuf­fin at McDon­alds because it was 10:35, he round­house kicked the store so hard it became a KFC. Chuck Nor­ris once kicked a baby ele­phant into puberty.</p></div></div>


  <div id: "tint2"><h1 id="mostpop"> MOST POPULAR POSTS </h1>
    <div class="imagestore">
      <div class="tablething1"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTDMiyP-QlvNmmJpO6a1cVpbV2tgpmMIQjkpJYv0KaD98tGlOj6"></div>
      <div class="tablething2"><img src="http://static1.squarespace.com/static/51967c8ee4b0acc777d93c8c/536be137e4b0c5614e1cfd86/5425bfede4b0c3466d93fb37/1411760329207/?format=1000w"></div>
      <div class="tablething3"><img src="http://widedscreen.com/images/wallpapers/zach_galifianakis_wallpaper.jpg"></div>
      <div class="tablething4"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ0_eUYAKFUvatLg_bBFv2LR4H3hHqmNvEhXCvpANV-4MHYR8Azcw"></div></div>
      <div class="longtablebar"></div></div>


    </body>

    </html>

    
